* {
    box-sizing: border-box;
}
body {
    background-color: #f1eee4;
    color: #1f3a44;
}

h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
}
nav {
    justify-self: center;
}
nav a {
    padding: 12px;
}
a {
    text-decoration: dashed;
    
}
a:hover {
    text-decoration: underline;
}

